<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uuid</key>
	<string>DC6EF52D-696D-4C41-9F89-FD9B79B0156B</string>
	<key>cats</key>
	<array>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>0</integer>
			<key>name</key>
			<string>Harold</string>
			<key>bio</key>
			<string>
Harold is a sweet hunk of a cat who prefers being the only cat! He is looking to be king of his castle!

Harold is neutered, vaccinated, and FIV/FeLV negative.

For more info or to meet Harold, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>1</integer>
			<key>name</key>
			<string>Amber</string>
			<key>bio</key>
			<string>
Amber is a sweet pastel calico who is looking for a forever home. Gorgeous and funny, Amber is sure to win your heart.

She is neutered, up to date on shots and healthy!

To learn more about Amber or meet her please contact Annie at kittyloft@gmail.com.
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>2</integer>
			<key>name</key>
			<string>Dumpling</string>
			<key>bio</key>
			<string>
Dumpling is a little kitten with a BIG personality! Totally beautiful in every way!

For more info or to meet Dumpling, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>3</integer>
			<key>name</key>
			<string>Mr. Palmer</string>
			<key>bio</key>
			<string>
Mr. Palmer is gorgeous gorgeous gorgeous and sweet sweet sweet!

He is neutered, vaccinated, and FIV/FeLV negative.

For more info or to meet Mr. Palmer, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>4</integer>
			<key>name</key>
			<string>Trey</string>
			<key>bio</key>
			<string>


For more info or to meet Trey, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>5</integer>
			<key>name</key>
			<string>Georgianna</string>
			<key>bio</key>
			<string>
Georgianna is a gorgeous young kitty with personality and charm! Seriously... look at that face!

Georgianna is spayed, vaccinated, and FIV/FeLV negative.

For more info or to meet Georgianna, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>6</integer>
			<key>name</key>
			<string>Gibbs</string>
			<key>bio</key>
			<string>
That&apos;s Mr. Gibbs to you.
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>7</integer>
			<key>name</key>
			<string>Tom Tom</string>
			<key>bio</key>
			<string>
Tom Tom is a beautiful female cat. She is loving and sweet and ready to find her forever home. She is about 4 months old and as charming as kittens come.

She is neutered, up to date on shots and healthy!

To learn more about Tom Tom or meet her please contact Annie at kittyloft@gmail.com.
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>8</integer>
			<key>name</key>
			<string>Luther</string>
			<key>bio</key>
			<string>


For more info or to meet Luther, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>9</integer>
			<key>name</key>
			<string>Edie</string>
			<key>bio</key>
			<string>


For more info or to meet Edie, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>10</integer>
			<key>name</key>
			<string>Amanda</string>
			<key>bio</key>
			<string>
Amanda is a beautiful cat with the sweetest personality. She has Eosinophilic Granuloma, which has caused an ulcer on her front lip, which sort of looks like a cleft lip. But her loving personality makes up for this unique look!

She is spayed, vaccinated, and approximately 1 year old. She is FIV positive.

For more information or to meet Amanda please contact lois@neighborhoodcats.org.
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>11</integer>
			<key>name</key>
			<string>Claudia</string>
			<key>bio</key>
			<string>
Claudia is a sweet kitten looking for a loving home.

She is spayed, vaccinated, and FIV/FeLV negative.

For more info or to meet Claudia, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>12</integer>
			<key>name</key>
			<string>Myrtle</string>
			<key>bio</key>
			<string>
Myrtle is a gentle cat with beautiful markings of mostly white with a calico tail and temples. Sweet and loving, she is shy at first but loves to be pet and adored. She was recently rescued from ACC and is looking for her much deserved fairytale ending.

Myrtle is about 4 years old, spayed, vaccinated and FIV/FeLV negative

For more info or to meet Myrtle, please contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>13</integer>
			<key>name</key>
			<string>Alice</string>
			<key>bio</key>
			<string>
Alice is a sad eyed girl from Bed Stuy. She is a bit shy at first but warms up quickly when one picks her up and purrs on contact! Alice is looking for the happy ending she deserves.

Alice is under a year, spayed, vaccinated and FIV/FeLV negative.

For more info or to meet Alice, please contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>14</integer>
			<key>name</key>
			<string>Rebecca</string>
			<key>bio</key>
			<string>


She is neutered, vaccinated, and FIV/FeLV negative.

For more info or to meet Rebecca, contact Brooke at bjacobsphoto@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>15</integer>
			<key>name</key>
			<string>Chester</string>
			<key>bio</key>
			<string>
Chester is a loving boy who enjoys attention. He is from a recent TNR project in Red Hook and has white hairs all through out his black body. He is quite the looker!
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>16</integer>
			<key>name</key>
			<string>Unknown</string>
			<key>bio</key>
			<string>
Lost Cat. Reward offered.
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>17</integer>
			<key>name</key>
			<string>Brutus</string>
			<key>bio</key>
			<string>


For more info or to meet Brutus, contact Annie; kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>18</integer>
			<key>name</key>
			<string>Clyde</string>
			<key>bio</key>
			<string>
Clyde is a big guy with a big heart. He is a low key cat seeking your company on HIS terms. He was rescued from ACC – he was found in a closet after the owner was evicted and left him behind. He is looking for his 2nd chance.

Clyde is about 5 years old, neutered, vaccinated, FIV/FeLV negative.

For more information or to meet Clyde contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>19</integer>
			<key>name</key>
			<string>Wilbur</string>
			<key>bio</key>
			<string>
Wilbur was a shy kitten who has been fostered and is doing great and coming out of his shell. He loves to be cuddled and adored. He really enjoys living in a home and hopes he can find one soon!

He is spayed, up to date on shots and healthy!

To learn more about Wilbur or meet him please contact Annie at kittyloft@gmail.com.
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>20</integer>
			<key>name</key>
			<string>Monty</string>
			<key>bio</key>
			<string>
Monty is a wonderfully handsome young adult who loves to play and loves other cats. Rescued as a kitten along with his brother Hugo – he is looking for the chance to steal your heart.

Monty is about 1.5 years old, neutered, vaccinated and FIV/FeLV negative.

For more info or to meet Monty please contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>21</integer>
			<key>name</key>
			<string>The Dude</string>
			<key>bio</key>
			<string>
The Dude is another Kitty Loft favorite! He has a LARGE personality and a hip shaking walk. He is pure purrfect love.

He is 1-2 years old, neutered, up to date on vaccines. While he is FIV positive, he is healthy and sure to stay that way in his forever home without the stress of life on the streets.

For more info on FIV: http://www.bestfriends.org/theanimals/petcare/cats_fiv.cfm 

For more info or to meet The Dude, contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>22</integer>
			<key>name</key>
			<string>Hugo</string>
			<key>bio</key>
			<string>
Hugo is a character. We&apos;ve had Hugo and his two brother since they were kittens. Always getting into something, Hugo has a lot of energy – loves to play, loves other cats, especially his brother Monty and is pure entertainment! He is looking for his 1st real home. Hugo was rescued from the streets of Williamsburg.

Hugo is about 1.5 years old, neutered, vaccinated and FIV/FeLV negative.

For more info or to meet Hugo please contact Annie at kittyloft@gmail.com
</string>
		</dict>
		<dict>
			<key>major</key>
			<integer>0</integer>
			<key>minor</key>
			<integer>23</integer>
			<key>name</key>
			<string>Felicia</string>
			<key>bio</key>
			<string>
Felicia is looking for her forever home. Sweet, neutered, up to date on shots and healthy! Her sisters left today and she is ready for a home of her own.

If you are interested in adopting Felicia please contact Annie at kittyloft@gmail.com
</string>
		</dict>
	</array>
</dict>
</plist>
