<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="cfswfHandler" />
            <remove name="cfrHandler" />
            <remove name="cfmlHandler" />
            <remove name="cfmHandler" />
            <remove name="cfcHandler" />
            <remove name="ColdFusion (*.jws)" />
            <remove name="ColdFusion (*.cfswf)" />
            <remove name="ColdFusion (*.cfr)" />
            <remove name="ColdFusion (*.cfml)" />
            <remove name="ColdFusion (*.cfm)" />
            <remove name="ColdFusion (*.cfc)" />
            <add name="cfcHandler" path="*.cfc" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfmHandler" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfmlHandler" path="*.cfml" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfrHandler" path="*.cfr" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfswfHandler" path="*.cfswf" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.cfm" />
                <add value="index.cfm" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
