<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="cfrHandler" />
            <remove name="cfmlHandler" />
            <remove name="cfmHandler" />
            <remove name="cfcHandler" />
            <add name="cfcHandler" path="*.cfc" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfmHandler" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfmlHandler" path="*.cfml" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
            <add name="cfrHandler" path="*.cfr" verb="*" modules="IsapiModule" scriptProcessor="C:\programs\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
